
db    = ( {     user          = "gilles";
                password      = "MyRandomPasswordIsBetterThanYours";
                server        = "my.server";
                database      = "gilles"; } );

graph = ( {     gnuplotfile   = "singleplotmultiplelapsx11.gp";
                gnuplotbin    = "/usr/bin/gnuplot"; } );
